html {
    background: #0d021c;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Miriam Libre', sans-serif;
color: #f4f4ef;
    font-size: 17px;
}

a {
color: #f4f4ef;
    text-decoration: none;
}

.contain {
width: 100vw;
height: 100vh;
    text-align: center;
margin: 0 auto;
}

.logo {
position: relative;
top: 50%;
transform: translateY(-50%);
}

#maya {
transition: 300ms;
}

.contact {
position: absolute;
bottom: 0;
right: 0;
    text-align: right;
}

.content {
padding: 60px;
}

.address {
    box-shadow: inset 0px -2px 0px #312B56;
transition: 300ms;
}

.address:hover {
    box-shadow: inset 0px -10px 0px #ef63a3;
transition: 100ms;
}

.email {
    box-shadow: inset 0px -2px 0px #312B56;
transition: 300ms;
}

.email:hover {
    box-shadow: inset 0px -10px 0px #ffda93;
transition: 100ms;
}

.call {
    box-shadow: inset 0px -2px 0px #312B56;
transition: 300ms;
}

.call:hover {
    box-shadow: inset 0px -10px 0px #8fefb6;
transition: 100ms;
}

@media only screen and (max-width: 767px) {
    
    body {
        font-size: 14px;
    }
    
    #maya {
height: 40px;
}

.content {
padding: 30px;
}


}
